{% extends 'index/index.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'index/css/forms/signup/form.css' %}">
{% endblock %}
{% block content %}
<div class="container mb-5">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signup my-5">
          <div class="card-body">
              <form class="form-signup" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-label-group">
                  <p>
                    {% if field.name == 'username' %}
                        <div>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            <button type="button" id="btn_check_duplicate_username" class="btn bg-tango text-wrap mt-3 float-center">
                                check for duplicate</button>
                        </div>
                    {% else %}
                        <div>
                            {{ field.label_tag }}<br>
                            {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {{  field }}
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                </div>
                {% endfor %}
                <button class="btn btn-lg bg-stormdust btn-block text-uppercase" type="submit" data-submittable="N">Sign up</button>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(function($form){
    $('.form-label-group',$form).
    find('input,textarea').
    each(function(){
      let $this = $(this), this_type = $this.attr('type'), this_required = $this.attr('required') === 'required'
      $this.addClass('form-control');
      if(this_required){$this.parent().find('label').css('font-weight','bold');}
    });
  }
  ($('.form-signup',document))
);

$(document).ready(function(){
  let $form = $('.form-signup'), form = $form[0];

  $('#btn_check_duplicate_username').on('click',function(){
    $.ajax({
        url : "{% url 'check_duplicate_username' %}",
        data : {username : form.username.value,},
        success : function(data){toastr[data.status](data.msg);},
        error : function(e){toastr.error(e.msg);}
    })
  });

  $form.on('submit',function(){
    submit_url = form.action;
    is_submittable = $form.data('submittable') === 'Y';

    if(!is_submittable){
        event.preventDefault();
        $.ajax({
            url : '{% url "check_duplicate_email" %}',
            data : {email : form.email.value},
            success : function(data){
                if(data.status === 'error'){
                    toastr[data.status](data.msg);
                }else{
                    $form.data('submittable','Y');
                    $form.submit();
                }
            },
            error : function(e)  { toastr.error(e.msg)},
        });
    }
  });
});
</script>
{% endblock %}