{% extends 'index/index.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
        <div class="card card-signup my-5">
            <div class="card-body">
              <p>
                  <h6>
                      Your password has been set.<br>
                      <a href="{% url 'index' %}">Sign in </a> now.
                  </h6>
              </p>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}