{% extends 'index/index.html' %}
{% block content %}

<div class="container mb-5">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signup my-5">
          <div class="card-body">
              <form method="POST" class="form-password-reset">
                {% csrf_token %}
                <div class="form-label-group">
                  <p>
                    <div class="mb-3">
                            Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.<br>
                        <small style="color: grey">
                            ( ** NOTE **) <br>
                            if you are using gmail account, please enable less secure app settings from <a href="https://myaccount.google.com/lesssecureapps">https://myaccount.google.com/lesssecureapps</a>
                        </small>
                    </div>
                    <input type="email" name="email" placeholder="your email address.."/>
                  </p>
                </div>
                <button class="btn btn-lg bg-stormdust btn-block text-uppercase" type="submit">Reset password</button>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(function($form){
    $form.on('submit',function(){
        toastr.info('processing...<div class="spinner-border"></div>')
    });

    $('.form-label-group',$form).
    find('input,textarea').
    each(function(){
      let $this = $(this), this_type = $this.attr('type'), this_required = $this.attr('required') === 'required'
      $this.addClass('form-control');
      if(this_required){$this.parent().find('label').css('font-weight','bold');}
    });
  }
  ($('.form-password-reset',document))
);
</script>
{% endblock %}